body {
    font-family: 'Open Sans';
    background: #E5E5E5;
}

.queryform__wrapper {
    display: flex;
    background: #FFF;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.input-group{
    width: 600px;
}

.input-group>.form-control {
    margin: auto;
}

a {
    display: block;
}

table {
    margin: auto;
}

.client-table {
    margin-bottom: 3rem;
    min-width: 728px;
}

.head-td {
    display: flex;
    justify-content: stretch; 
    align-items: flex-start;
}

.fa-arrow-up, .fa-arrow-down {
    padding-left: 2px;
    color: #9873FF;
}


.full-name-span {
    color: #9873FF;
    padding-left: 2px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

.fa-transform {
    transform: rotate(0.5turn);
}

.client__row {
    width: 100%;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    border-bottom: 1px solid #C8C5D1;
}

td {
  width: calc(100% / 6);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}

#td-fullname {
    max-width: 190px;
}

#sort-name {
    padding: 0;
    max-width: 190px;
}

#td-create-date, #td-up-date, #sort-create-time, #sort-last-edits {
    max-width: 120px;
    display: flex;
}

#td-contacts {
    width: 140px;
    display: flex;
}

.show-contacts-btn {
    margin: auto 0;
    padding: 1px;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    border: 1px solid #9873FF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
}

ul {
    list-style: none;
}

.clients {
    margin: 0;
    width: 100%;
}
 
.head-row {
    padding-left: 20px;
    margin: 0;
    width: 100%;
    justify-content: space-around;
}
.client-table {
    width: 100%;
    height: 360px;
    background: #FFF;
} 

.add-btn-row {
    justify-content: center;
}

.btn {
    border-radius: 0;
    border: 1px solid #9873FF;
    color: #9873FF;
}

.btn:focus {
    color: #FFF;
    background: #8052FF;

}

.btn:hover {
    color: #FFF;
    background: #B89EFF;
}

.modal-input {
    width: calc(100% - 60px);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #C8C5D1;  
}

.bottom-close-btn

.modal-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #B0B0B0;
}

.header__close-btn {
    position: absolute;
    right: 21px;
}

.header__close-btn:focus {
    outline: none;
}

.bottom-close-btn {
    border: none;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid #333333;
}

.save-btn {
    background: #9873FF;
    color: #FFF;
    border: none;
}

.modal-header {
    position: relative;
    justify-content: left;
    border: none
}

.modal-body {
    padding: 0;
}

.modal-footer {
    flex-direction: column;
    border: none
}

tbody {
    max-height: 60px;   
}

.client__item-cell {
    margin: auto 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

#td-id {
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
    max-width: 70px;   
}

#ID, #td-id {
    max-width: 70px; 
}
.modal__contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #C8C5D1;
    justify-content: center;
}

.contacts__btn {
    border: none;
    /* width: 100%; */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color:  #333333;
    opacity: 1;
}

.contact-group {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    display: flex;
}

.clear-contact-btn {
    display: block;
    border: none;
    background: #E7E5EB;
    height: 33px;
    margin: auto;
}

.form-control {
    height: 35px;
}

.form-control:focus {   
    border-bottom: 1px solid #c8c5d1;
    box-shadow: none;
}


.contact-form {
    border-radius: 0;
    border: 1px solid #C8C5D1;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    background-color: #FFF

}

.contact-select {
    background: #E7E5EB; 
    border: 1px solid #C8C5D1;

}

.contact__cleare-btn-span {
    position: relative;
    display: block;
    margin: auto;
    width: 12px;
    height: 12px;
    border: 1px solid #B0B0B0;
    border-radius: 50px;
}

.contact__cleare-btn-span::before {
    position: absolute;
    content: '';
    top: 4.5px;
    left: -0.5px;
    width: 11px;
    border-bottom: 1px solid #B0B0B0;
    transform: rotate(45deg);
}

.contact__cleare-btn-span::after {
    position: absolute;
    content: '';
    top: 4.5px;
    left: -0.5px;
    width: 11px;
    border-bottom: 1px solid #B0B0B0;
    transform: rotate(-45deg);
}

.table_contacts-list {
    margin: auto 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.contact-item {
    position: relative;
    height: 20px;
    
}

.contact-popup {
    position: absolute;
    z-index: 20;
    top: -40px;
    left: -60px; 
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 14px;
    color: #FFF;
    background-color: #333333;
}

.contact-item:not(:last-child) {
    margin-right: 7px;
}

.day {
    font-size: 14px;
    line-height: 19px; 
    color: #333333;
    margin-right: 10px;
}

.time {
    font-size: 14px;
    line-height: 19px;
    color: #B0B0B0; 
}

.table__btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn-link {
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: left center;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: left center;
}

.edit-client-btn {
    background-image: url('images/edit-btn-img.svg');  
}

.edit-client-btn:hover, .edit-client-btn:focus, .edit-client-btn:active {
    color: #9873FF;
    background-image: url('images/edit-btn-img.svg');
}

.del-client-btn {
    background-image: url('images/del-btn-img.svg');
}

.del-client-btn:hover, .del-client-btn:focus, .del-client-btn:active {
    color: #F06A4D;
    background-image: url('images/del-btn-img.svg'); 
}

.modal__del-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__del-body-text {
    text-align: center;
}

.modal__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding-right: 9px;
}

.modal__edit-span-id {
    padding-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
}

.modal__del-title {
    padding-left: 130px;
}

.contact-select {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    border: 1px solid #C8C5D1;
}

.contact-select:focus {
    color: #333;
    border: 1px solid #C8C5D1;
    background-color: #E7E5EB;
}

.contact-input {

}

@media (max-width: 998px) {
    .table__btn-wrapper {
        flex-direction: column;
    }

    #td-create-date, #td-up-date {
        flex-direction: column;
     }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 450px;
        margin: 1.7rem auto;
    }

   
}